body {
  background-color:black;
  font-family: 'Courier New', Courier, monospace;
  color:whitesmoke ;
}

.jumbotron {
  background-color: #72587F;
  margin-bottom: 40px;
}
.showLater {
  display: none;
}

h1, h2, h3, h4, h5, p {
  text-align: center;
}

#intro {
  text-align: center;
}

button {
  background-color:#ed9121;
  color:black;
}

.leftAlign {
  text-align: left;
}

#introParagraphs {
  border: solid #72587F;
  border-width: 2px;
  padding: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
}

#questMessage {
  border: solid #72587F;
  border-width: 2px;
  padding: 20px;
}

#retry {
  background-color: aquamarine;
}

#continue1, #continue2, #continue3, #continue4 {
  width: 30%;
  margin-top: 10px;
}

.centerButton {
  text-align: center;
}

#mainQuiz {
  border: solid #72587F;
  border-width: 2px;
  padding: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
}

#resultButtons {
  width: 40%;
  margin-top: 20px;
  margin-left: 350px;
  text-align: center;
}

#coinImage1 {
  margin-right: 50px;
  margin-left: 50px;
}

#coinImage2 {
  margin-left: 50px;
  margin-right: 50px;
}

.confetti-background {
  background: url("../img/confetti.png");
  background-size: cover;
}
.coin-background {
  background: url("../img/coins.png");
}

.pink-background {
  background-color: pink;
  color: black;
}

.green-background {
  background-color: #61DC19;
  color: black;
}

.blue-background {
  background-color: #55B1E6;
  color: black;
}

.purple-background {
  background-color: #9075AF;
  color: black;
}

#retry {
  color: black;
}

#personalizedResult {
  font-size: 50px;
  font-weight: bold;
}

#padlock {
  margin-right: 400px;
  margin-left: 400px;
  margin-top: 40px;
  margin-bottom: 40px;
}

#questionForm {
  border: solid #72587F;
  border-width: 2px;
  padding: 20px;
  margin: 40px;
  margin-top: 10px;
}