.showLater {
  display: none;
}

h1, h2, h4, h5, p {
  text-align: center;
}

.leftAlign {
  text-align: left;
}

#retry {
  background-color: aquamarine;
}

#continue1, #continue2 {
  width: 30%;
  margin-left: 33%;
  margin-right: 33%;
}

#coinImage1 {
  margin-right: 50px;
  margin-left: 50px;
}

#coinImage2 {
  margin-left: 50px;
  margin-right: 50px;
}

.confetti-background {
  background: url("../img/confetti.png");
  background-size: cover;
}